langchain==1.2.7
langchain-deepseek==1.0.1
python-dotenv>=1.0.0
fastapi>=0.110
uvicorn[standard]>=0.24

pymilvus
minio
langchain-huggingface
langchain-text-splitters
sentence-transformers
torch
pymilvus>=2.4.0
minio>=7.2.0
langchain-text-splitters>=0.2.0
langchain-huggingface>=0.1.0



